body {
  background-color: darkblue;
  color: white;
  font-size: 18px; /* 17 px */
  line-height: 100%;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 35px; /* 34px */
  font-style: Garamond, Serif, sans-serif;
  line-height: 50%;
}

h3 {
  font-size: 20px;
  line-height: 25px;
}

.logo {
  margin: 10px;
  width: 45px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

.right a {
  text-decoration: none;
  color: white
}

.right a:active {
  color: orange;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
